<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="description" content="A generator that makes possitive affirmations to boost your mental health">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Affirmation Generator</title>
            <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
            <link rel="icon" type="image/x-icon" href="../../resources/photos/Logo1.png">
            <link rel="stylesheet" href="../affirm.css">
        </head>
        <body>
            <h1>Affirmation Generator</h1>
            <div class="box">
                <div id="screen"><p id="word"></p></div>
                <button id="generate" onclick="createAffirmation()">Click for your affirmation!</button>
            </div>
            <script src="../../affirm.js"></script>
        </body>    
    </html>